.btn {
    background-color: rgb(164, 242, 8);
}

.btn1 {
    background-color: rgb(78, 50, 205);
}

.btn2 {
    background-color: rgb(196, 10, 50);
}

.btn3 {
    background-color: rgb(205, 50, 202);
}


.col1 {
    color: blue;
}